source https://www.nuget.org/api/v2

framework: auto-detect
nuget Expecto
nuget FSConfig
nuget FSharp.Core
nuget FSharpPlus
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.JobResult
nuget Giraffe
nuget Http.fs
nuget Thoth.Json.Net
nuget TypeShape

group Build
source https://www.nuget.org/api/v2

nuget FAKE