source https://www.nuget.org/api/v2

framework: auto-detect
nuget Expecto
nuget FSConfig
nuget FSharp.Core
nuget FsToolkit.ErrorHandling
nuget Giraffe
nuget Http.fs
nuget TypeShape

group Build
source https://www.nuget.org/api/v2

nuget FAKE